.plan-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 23rem;
  text-align: center;
  width: 36rem;

  &__label {
    display: block;
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    text-align: center;
  }

  &__title-input {
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    padding: 4px;
    width: 90%;

    @media screen and (min-widht: 640px) {
      width: 60%;
    }
  }
}
