.plan-info {
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  margin-bottom: 2px;
  width: 36rem;
  height: 23rem;

  &__name {
    background-color: rgb(9,84,137);
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
  }
}

.plan-info-bottom {
  background-color: rgb(61,174,205);
  height: 19rem;
  display: flex;

  &__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
  }

  &__right {
    width: 55%;
    padding: 2rem 2rem 0 2rem;
  }
}

.plan-info-bottom-percentage {
  border: .2rem solid rgb(237,96,142);
  background-color: #db7093;
  opacity: .8;
  border-radius: 5rem;
  width: 5rem;
  height: 5rem;;
  padding: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: .2rem solid #000;
  border-bottom: .4rem solid #000;
  padding: .5rem 1.5rem;
  border-radius: 5rem;
  background-color: rgb(252,196,55);
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.plan-info-bottom-right-text {
  font-size: .9rem;

  &__item {
    padding-bottom: .5rem;
  }
}

.text-md {
  font-size: 1.4rem;
  font-weight: 100;
}

.text-bg {
  font-size: 2rem;
  font-weight: bold;
}

.plan-info-bottom-right-text-nogoal {
  font-size: 1.4rem;
  padding-top: 3rem;
  line-height: 1.75rem;
}

.counter {
  margin-top: 1rem;
  display: flex;

  &__item {
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 2rem;
    width: 1.75rem;
    background-color: rgb(60,60,60);
    margin-right: .5rem;
    text-align: center;
  }
}

.colon {
  display: flex;
  font-size: 2rem;
  align-items: baseline;
  padding-right: .3rem;
}

.labels {
  width: 15.5rem;
  display: flex;
  justify-content: space-between;
}