.plan-category {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 10px;

    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
