.plan-goal {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 23rem;
  width: 36rem;

  &__title {
    text-align: center;
  }
  .goal-form {
    margin: 0 auto;
    width: 90%;

    @media screen and (min-width: 640px) {
      width: 70%;
    }

    &__element {
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--flex div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      input {
        border: 1px solid #ccc;
        font-size: 1rem;
        outline: none;
        padding: 4px;
        width: 100%;
      }

      .save_daily {
        background-color: lightblue;
        color: #45b2c0;
        border: 1px solid;
      }

      label {
        color: #666;
        display: block;
        font-size: 0.7em;
        text-align: center;
      }
    }

    &__select {
      border: 1px solid #ccc;
      height: 2rem;
      outline: none;
      padding: 0.2rem;
      width: 30%;
    }
  }
}
