.plan-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 23rem;
  margin: 0 auto;
  text-align: center;
  width: 36rem;

  &__label {
    display: block;
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    text-align: center;
  }

  &__title-input {
    padding: 4px;
    width: 70%;
    outline: none;
    font-size: 1rem;
  }
}