.plan-category {
    text-align: center;
    width: 36rem;
    height: 23rem;
    
    &__list {
        border: 1px solid green;
        padding: 1px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
    }
}
