.plan-item {
  width: 10%;
  padding: .5rem;
  text-align: center;
  width: 30%;
  margin: 0 1px 1px 0;
  background-color: #fff; }
  .plan-item__image {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: #000; }
  .plan-item--active {
    background-color: lightblue; }
  .plan-item--nonactive {
    background-color: #fff; }
