.plan-item {
    width: 10%;
    padding: .5rem;
    text-align: center;
    width: 30%;
    margin: 0 1px 1px 0;

    &__image {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color: #000;
    }
}

.plan-item:hover {
  background-color: rgb(69,178,192);
  border-radius: 5rem;
  color: #fff;
}