.plan-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 23rem;
  margin: 0 auto;
  width: 26rem; }
  .plan-title__title {
    text-align: center; }
  .plan-title__label {
    display: block;
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    text-align: center; }
  .plan-title__title-input {
    padding: 4px;
    width: 100%; }

.button-group {
  margin-top: 1rem; }
  .button-group__next {
    background-color: #45b2c0;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid #000; }
  .button-group__back {
    text-decoration: none;
    color: #45b2c0; }
