.plan-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 23rem;
  margin: 0 auto;
  width: 26rem;

  &__title {
    text-align: center;
  }

  &__label {
    display: block;
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    text-align: center;
  }

  &__title-input {
    padding: 4px;
    width: 100%;
  }
}

// bellow, shared by all components duplication?
.button-group {
  margin-top: 1rem;

  &__next {
    background-color: rgb(69, 178, 192);
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid #000;
  }

  &__back {
    text-decoration: none;
    color: rgb(69, 178, 192);
  }
}
